= render "shared/customers_nav"

%div
  %b Customer name:
  = @customer.name
%div
  %b ID:
  = @customer.id
%div
  %b Email:
  = @customer.email
%div
  %b Description:
  = @customer.description
  %br/
  %br/

%div
  API provided by customer:
  %div
    %b Endpoint:
    = @customer.api_endpoint
  %div
    %b Key:
    = @customer.api_key

%br/
%br/
%br/

.btn-toolbar{role: "toolbar", "aria-label": "Toolbar with button groups"}
  = link_to "Edit", edit_customer_path(@customer), class: "btn btn-outline-primary btn-sm"
  &nbsp;
  = button_to "Destroy this customer", @customer, method: :delete, class: "btn btn-outline-danger btn-sm", onclick: "return confirm('For real?');"

%br/
%br/