%table{class: "table table-hover"}
  %tr
    %td
      %h4
        = link_to "Your Vendors", vendors_path
  %tr
    %td
      %h4
        = link_to "Your Customers", customers_path
  %tr
    %td
      %h4
        = link_to "Your PCFs to send to customers", products_path(yours: "true")
  %tr
    %td
      %h4
        = link_to "PCFs you've received from vendors", products_path(received: "true")
  %tr
    %td
      %h4
        = link_to "All PCFs", products_path

  -# %tr
  -#   %td
  -#     %h4
  -#       = link_to "Nodes", nodes_path

