%div{:id => "#{dom_id jet_fuel}"}
  %div
    %strong Volume:
    = jet_fuel.volume
  %div
    %strong Unit:
    = jet_fuel.unit
  %div
    %strong Category:
    = jet_fuel.category
  %div
    %strong Subcategory:
    = jet_fuel.subcategory
  %div
    %strong Location:
    = jet_fuel.location
  %div
    %strong Vendor:
    = jet_fuel.vendor
  %div
    %strong Carbon intensity:
    = jet_fuel.carbon_intensity
  %div
    %strong Produced at:
    = jet_fuel.produced_at
