%p{:style => "color: green"}= notice

%h1 Jet fuels

= link_to "New jet fuel request", new_jet_fuel_path, class: "btn btn-primary"

%p{style: "margin-top: 40px;"}
  Requests for jet fuel carbon intensity
%table{id: "jet_fuels", class: "table table-hover"}
  - @jet_fuels.each do |jet_fuel|
    %tr
      %td
        = link_to "#{jet_fuel.volume} #{jet_fuel.unit} on #{jet_fuel.created_at}", jet_fuel_path(jet_fuel)
