:css
  sup {color: red;}

= form_with(model: product) do |form|
  - if product.errors.any?
    %div{:style => "color: red"}
      %h2
        = pluralize(product.errors.count, "error")
        prohibited this product from being saved:
      %ul
        - product.errors.each do |error|
          %li= error.full_message

          precedingPfIds

  .form-group
    Spec version 2.0.0

  .form-group
    = form.label :preceding_pf_ids, "Preceding product footprint identifiers"
    = form.text_field :preceding_pf_ids, class: "form-control"
  .form-group
    = form.label :version, "Version <sup>*</sup>".html_safe
    = form.number_field :version, class: "form-control", required: true
  .form-group
    = form.label :status, "Status <sup>*</sup>".html_safe
    = form.select :status, ["Active", "Deprecated"], {include_blank: '-- Select One --'}, {class: "form-select" , required: true}
  .form-group
    = form.label :status_comment
    = form.text_field :status_comment, class: "form-control"
  .form-group
    = form.label :validity_period_start
    = form.datetime_field :validity_period_start, class: "form-control"
  .form-group
    = form.label :validity_period_end
    = form.datetime_field :validity_period_end, class: "form-control"
  .form-group
    = form.label :company_name, "Company name <sup>*</sup>".html_safe
    = form.text_field :company_name, class: "form-control", required: true
  .form-group
    = form.label :company_ids, "Company IDs (URNs, one per line) <sup>*</sup>".html_safe
    = form.text_area :company_ids, class: "form-control", required: true
  .form-group
    = form.label :product_description, "Product description <sup>*</sup>".html_safe
    = form.text_field :product_description, class: "form-control", required: true
  .form-group
    = form.label :product_ids, "Product IDs (URNs, one per line) <sup>*</sup>".html_safe
    = form.text_area :product_ids, class: "form-control", required: true
  .form-group
    = form.label :product_category_cpc, "Product category CPC <sup>*</sup>".html_safe
    = form.text_field :product_category_cpc, class: "form-control", required: true
  .form-group
    = form.label :product_name_company, "Product name company <sup>*</sup>".html_safe
    = form.text_field :product_name_company, class: "form-control", required: true
  .form-group
    = form.label :comment
    = form.text_field :comment, class: "form-control"
  .form-group
    = form.label :pcf_declared_unit, "PCF declared unit <sup>*</sup>".html_safe
    -# = form.text_field :pcf_declared_unit, class: "form-control"
    = form.select :pcf_declared_unit, ["liter", "kilogram", "cubic meter", "kilowatt hour", "megajoule", "ton kilometer", "square meter"], {include_blank: '-- Select One --'}, {class: "form-select" , required: true}
  .form-group
    = form.label :pcf_unitary_product_amount, "PCF unitary product amount <sup>*</sup>".html_safe
    = form.number_field :pcf_unitary_product_amount, class: "form-control"
  .form-group
    = form.label :pcf_pcf_excluding_biogenic
    = form.number_field :pcf_pcf_excluding_biogenic, class: "form-control"
  .form-group
    = form.label :pcf_pcf_including_biogenic
    = form.number_field :pcf_pcf_including_biogenic, class: "form-control"
  .form-group
    = form.label :pcf_fossil_ghg_emissions, "PCF fossil GHG emissions <sup>*</sup>".html_safe
    = form.number_field :pcf_fossil_ghg_emissions, class: "form-control", required: true
  .form-group
    = form.label :pcf_fossil_carbon_content, "PCF fossil carbon content <sup>*</sup>".html_safe
    = form.number_field :pcf_fossil_carbon_content, class: "form-control", required: true
  .form-group
    = form.label :pcf_biogenic_carbon_content, "PCF biogenic carbon content <sup>*</sup>".html_safe
    = form.number_field :pcf_biogenic_carbon_content, class: "form-control", required: true
  .form-group
    = form.label :pcf_d_luc_ghg_emissions
    = form.number_field :pcf_d_luc_ghg_emissions, class: "form-control"
  .form-group
    = form.label :pcf_land_management_ghg_emissions
    = form.number_field :pcf_land_management_ghg_emissions, class: "form-control"
  .form-group
    = form.label :pcf_other_biogenic_ghg_emissions
    = form.number_field :pcf_other_biogenic_ghg_emissions, class: "form-control"
  .form-group
    = form.label :pcf_i_luc_ghg_emissions
    = form.number_field :pcf_i_luc_ghg_emissions, class: "form-control"
  .form-group
    = form.label :pcf_biogenic_carbon_withdrawal
    = form.number_field :pcf_biogenic_carbon_withdrawal, class: "form-control"
  .form-group
    = form.label :pcf_aircraft_ghg_emissions
    = form.number_field :pcf_aircraft_ghg_emissions, class: "form-control"
  .form-group
    = form.label :pcf_characterization_factors, "PCF characterization factors <sup>*</sup>".html_safe
    = form.select :pcf_characterization_factors, ["AR5", "AR6"], {include_blank: '-- Select One --'}, {class: "form-select" , required: true}
  .form-group
    = form.label :pcf_cross_sectoral_standards_used, "PCF cross sectoral standards used <sup>*</sup>".html_safe
    -# = form.text_field :pcf_cross_sectoral_standards_used, class: "form-control"
    = select_tag 'product[pcf_cross_sectoral_standards_used]', options_for_select([ "GHG Protocol Product standard", "ISO Standard 14067", "ISO Standard 14044" ]), {multiple: true, class: "form-select"}
  .form-group
    = form.label :pcf_product_or_sector_specific_rules
    -# = form.text_field :pcf_product_or_sector_specific_rules, class: "form-control"
    = select_tag 'product[pcf_product_or_sector_specific_rules]', options_for_select([ "PEF", "EPD International", "Other" ]), {multiple: true, class: "form-select"}
  .form-group
    = form.label :pcf_biogenic_accounting_methodology
    = form.select :pcf_biogenic_accounting_methodology, ["PEF", "ISO", "GHGP", "Quantis"], {include_blank: '-- Select One --'}, {class: "form-select"}
  .form-group
    = form.label :pcf_boundary_processes_description
    = form.text_field :pcf_boundary_processes_description, class: "form-control"
  .form-group
    = form.label :pcf_reference_period_start, "PCF reference period start <sup>*</sup>".html_safe
    = form.datetime_field :pcf_reference_period_start, class: "form-control", required: true
  .form-group
    = form.label :pcf_reference_period_end, "PCF reference period end <sup>*</sup>".html_safe
    = form.datetime_field :pcf_reference_period_end, class: "form-control", required: true
  .form-group
    = form.label :pcf_geography_country_subdivision, "PCF Geography country subdivision (an a ISO 3166-2 Subdivision Code, ie, US-NY. See <a href=\"https://wbcsd.github.io/data-exchange-protocol/v2/#dt-carbonfootprint-scope\">docs</a> for full geo guidance)".html_safe
    = form.text_field :pcf_geography_country_subdivision, class: "form-control"
  .form-group
    = form.label :pcf_geography_country
    = form.select :pcf_geography_country, Country.all.collect{|c| [c.common_name, c.alpha2]}, {include_blank: '-- Select One --'}, {class: "form-select"}
  .form-group
    = form.label :pcf_geography_region_or_subregion
    = form.select :pcf_geography_region_or_subregion, Product::REGIONS, {include_blank: '-- Select One --'}, {class: "form-select"}
  .form-group
    = form.label :pcf_secondary_emission_factor_sources
    = form.text_field :pcf_secondary_emission_factor_sources, class: "form-control"
  .form-group
    = form.label :pcf_exempted_emissions_percent, "PCF exempted emissions percent <sup>*</sup>".html_safe
    = form.number_field :pcf_exempted_emissions_percent, class: "form-control", required: true
  .form-group
    = form.label :pcf_exempted_emissions_description, "PCF exempted emissions description <sup>*</sup>".html_safe
    = form.text_field :pcf_exempted_emissions_description, class: "form-control", required: true
  .form-group
    = form.label :pcf_packaging_emissions_included, "PCF packaging emissions included <sup>*</sup>".html_safe
    = form.select :pcf_packaging_emissions_included, ["true", "false"], {include_blank: '-- Select One --'}, {class: "form-select" , required: true}
  .form-group
    = form.label :pcf_packaging_ghg_emissions
    = form.text_field :pcf_packaging_ghg_emissions, class: "form-control"
  .form-group
    = form.label :pcf_allocation_rules_description
    = form.text_field :pcf_allocation_rules_description, class: "form-control"
  .form-group
    = form.label :pcf_uncertainty_assessment_description
    = form.text_field :pcf_uncertainty_assessment_description, class: "form-control"
  .form-group
    = form.label :pcf_primary_data_share
    = form.number_field :pcf_primary_data_share, class: "form-control"
  .form-group
    = form.label :pcf_dqi_coverage_percent
    = form.number_field :pcf_dqi_coverage_percent, class: "form-control"
  .form-group
    = form.label :pcf_dqi_technological_dqr
    = form.number_field :pcf_dqi_technological_dqr, class: "form-control"
  .form-group
    = form.label :pcf_dqi_temporal_dqr
    = form.number_field :pcf_dqi_temporal_dqr, class: "form-control"
  .form-group
    = form.label :pcf_dqi_geographical_dqr
    = form.number_field :pcf_dqi_geographical_dqr, class: "form-control"
  .form-group
    = form.label :pcf_dqi_completeness_dqr
    = form.number_field :pcf_dqi_completeness_dqr, class: "form-control"
  .form-group
    = form.label :pcf_dqi_reliability_dqr
    = form.number_field :pcf_dqi_reliability_dqr, class: "form-control"
  .form-group
    = form.label :pcf_assurance_coverage
    = form.select :pcf_assurance_level, ["corporate level", "product line", "PCF system", "product level"], {include_blank: true}, {class: "form-select"}
  .form-group
    = form.label :pcf_assurance_level
    = form.select :pcf_assurance_level, ["limited", "reasonable"], {include_blank: true}, {class: "form-select"}
  .form-group
    = form.label :pcf_assurance_boundary
    = form.select :pcf_assurance_boundary, ["Gate-to-Gate", "Cradle-to-Gate"], {include_blank: true}, {class: "form-select"}
  .form-group
    = form.label :pcf_assurance_provider_name
    = form.text_field :pcf_assurance_provider_name, class: "form-control"
  .form-group
    = form.label :pcf_assurance_completed_at
    = form.datetime_field :pcf_assurance_completed_at, class: "form-control"
  .form-group
    = form.label :pcf_assurance_standard_name
    = form.text_field :pcf_assurance_standard_name, class: "form-control"
  .form-group
    = form.label :pcf_assurance_comments
    = form.text_field :pcf_assurance_comments, class: "form-control"
  .form-group
    = form.label :extensions
    = form.text_area :extensions, class: "form-control"
  .form-group
    %br
    %button{type: "submit", class: "btn btn-primary"}
      - if request.path.include?("edit")
        Edit
      - else
        Create
      PCF
%br
%br
