%div{:id => "#{dom_id product}"}
  %div
    %strong UUID:
    =product.id

    - product.attributes.each do |attribute|
      %div
        %strong #{attribute[0].humanize}:

        - if attribute[0] == 'created'
          = product.created_at
        - elsif attribute[0] == 'updated' && (product.created_at != product.updated_at)
          = product.updated_at
        - else
          = attribute[1]
