%h1{style: "margin-bottom: 40px;"}
  #{@whose} PCFs
  - if @whose == "Your"
    %span{style: "margin: -10px 0 10px 50px;"}
      = link_to "New PCF", new_product_path, class: "btn btn-primary"

  -# %span{style: "margin: -10px 0 10px 20px;"}
  -#   = link_to "Upload CSV", new_product_path, class: "btn btn-primary"

%table{id: "products", class: "table table-hover"}
  - @products.each do |product|
    - if product.preceding_pf_ids.present?
      %tr
        %td
          #{link_to product.company_and_product_name, product_path(product)},
          #{product.created_at.to_fs(:long_ordinal)}

          - if product.vendor.present?
            from #{link_to product.vendor.name, product.vendor},

      - if product.preceding_pf_ids.present?
        - product.preceding_pf_ids.each do |ppid|
          - prod = Product.find(ppid)
          %tr
            %td
              &nbsp;&nbsp;&nbsp;&nbsp; #{link_to prod.company_and_product_name, prod}