%h1{style: "margin-bottom: 50px;"}
  PCFs
  %span{style: "margin: -10px 0 10px 50px;"}
    = link_to "New PCF", new_product_path, class: "btn btn-primary"

%table{id: "products", class: "table table-hover"}
  - @products.each do |product|
    %tr
      %td
        = link_to product.id, product_path(product)
        -# = link_to "#{product.volume} #{product.unit}, on #{product.created_at}", product_path(product)
