= render "shared/product_nav"

-# This sends this product's json data to the API endpoint of customer chosen, using their API key
-# in these demos it's on the same system, but it typically won't be.actions

-# So we have a customer and a product on this end.
-# on the other end, if they were running this same software, there would be a Vendor object, who supplied the API endpoint & key?

- unless @product.vendor_id.blank?
  %div
    Received from
  %h4{style: "margin-bottom: 10px;"}
    #{link_to @product.vendor.name, @product.vendor}

%div
  Product:
  %h4
    = @product.product_name_company
%div
  Created #{@product.created.strftime("%b %-d, %Y, at %-I:%M%P")}

- if @product.vendor_id.blank?
  %div{style: "border: 0px solid grey; margin: 20px 0 30px 0; padding: 10px 10px 10px 0;"}
    %div{style: "margin: 0 0 0 10px;"}
      Send to


    %form{id: "pcf_send_form"}
      %table{style: "width: 100%; max-width:500px;"}
        %tr
          %td{style: "vertical-align: bottom;"}
            <select class="form-select" aria-label="Default select example" name="customer_id">
            - Customer.all.each do |customer|
              <option value="#{customer.id}">
              #{customer.name}
              </option>
            </select>
          %td{style: "padding-left: 20px; vertical-align: bottom;"}
            <input type="submit" value="Send PCF" id="pcf_send_form" class="btn btn-primary" style="margin-top: 10px;" />

    :javascript
      $( "#pcf_send_form" ).submit(function( event ) {
        console.log("foo");
        console.log( $(this).serialize() );
        $.ajax({
          type: "POST",
          url: '#{send_pcf_product_url(@product, format: :json)}',
          data: $("#pcf_send_form").serialize(),
          success: function(data) {
            // Ajax call completed successfully

            alert("Form Submited Successfully");
          },
          error: function(data) {
            // Some error in ajax call
            alert("some Error");
          }
        });
        event.preventDefault();
      });

- else
  %div{style: "border: 0px solid grey; margin: 0px 0 30px 0;"}
    Received #{@product.created_at.strftime("%b %-d, %Y, at %-I:%M%P")}

<span class="api">#{link_to 'View all fields', '#', onclick: "$('.product').fadeToggle();"}</span>
%div{class: "product", style: "display: none;"}
  = render @product

.btn-toolbar{role: "toolbar", "aria-label": "Toolbar with button groups", style: "margin-top: 20px;"}
  = link_to "Edit", edit_product_path(@product), class: "btn btn-outline-primary btn-sm"
  &nbsp;
  = link_to "View json", product_path(@product, format: :json), class: "btn btn-outline-primary btn-sm"
  &nbsp;
  = button_to "Destroy this product", @product, method: :delete, class: "btn btn-outline-danger btn-sm", onclick: "return confirm('This can never, ever be undone.');"


%br/