= render "shared/vendor_nav"

%h1
  = @vendor.name

%div
  %b Email:
  = @vendor.email

%div
  %b ID:
  = @vendor.id

- if @vendor.email_message.present?
  %div
    %b Email message:
    = @vendor.email_message

- if @vendor.description.present?
  %div
    %b Description:
    = @vendor.description

%div
  <span class="api">#{link_to "API Info to provide #{@vendor.name}", '#', onclick: "$('.api').fadeToggle();"}</span>
  .api{style: "display: none; padding: 10px; margin: 15px 0 15px 0; border: 1px solid grey;"}
    Instructions: Tell this vendor to POST PACT-formatted JSON to the endpoint below, with their API key, also below, in the header of the request.
    %br/
    %br/
    %div
      %b API endpoint:
      http://host.docker.internal:#{request.port}/products.json
      -# = @vendor.api_endpoint
    %div
      %b API key:
      = @vendor.api_key

- if @vendor.products
  %div
    %br/
    %b PCFs sent by #{@vendor.name}
    %ul
      - @vendor.products.each do |product|
        %li
          = link_to product.product_name_company, product

%br/

.btn-toolbar{role: "toolbar", "aria-label": "Toolbar with button groups"}
  = link_to "Edit", edit_vendor_path(@vendor), class: "btn btn-outline-primary btn-sm"
  &nbsp;
  = button_to "Destroy this vendor", @vendor, method: :delete, class: "btn btn-outline-danger btn-sm", onclick: "return confirm('Estas seguro? This will also destroy all PCFs associated with this vendor.');"

%br/
%br/
