%div{:id => "#{dom_id node}"}
  %p
    %strong Owner:
    = node.owner
  %p
    %strong Category:
    = node.category
  %p
    %strong Subcategory:
    = node.subcategory
  %p
    %strong Url:
    = node.url
