%div{:id => "#{dom_id node}"}
  %div
    %strong UUID:
    =node.id


  %div
    %strong Owner:
    = node.owner
  %div
    %strong Category:
    = node.category
  %div
    %strong Subcategory:
    = node.subcategory
  %div
    %strong URL:
    = node.url
  %div
    %strong API Key:
    = node.api_key
