%p{:style => "color: green"}= notice

%h1 Nodes

= link_to "New node", new_node_path, class: "btn btn-primary"

%br
%br
%p
  APIs to obtain PCF data directly.

%table{id: "nodes", class: "table table-hover"}
  - @nodes.each do |node|
    %tr
      %td
        = link_to "#{node.owner}, #{node.category}, on #{node.created_at}", node_path(node)
