%p{:style => "color: green"}= notice

%div{style: "margin: 0 0 20px 0;"}
  = link_to "Back to nodes", nodes_path

= render @node

%br

.btn-toolbar{role: "toolbar", "aria-label": "Toolbar with button groups"}
  = link_to "Edit", edit_node_path(@node), class: "btn btn-primary"
  &nbsp;
  = button_to "Destroy this node", @node, method: :delete, class: "btn btn-danger"